/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main CSS for the page starts from here */

#main {
    background: url(bg.png) repeat-x;
}
#main1 {
    background: url(3-site-setting-page_bg.gif) no-repeat;
    width: 1600px;
    height: 1020px;
}

.wrapper {
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.form {
    background: url(3-site-setting-page_bg2.gif) no-repeat;
    width: 520px;
    height: 489px;
    z-index: -1;   
}

#start {
    margin-top: 18.2%;
    margin-right: 1%;
}
.head {
    height: 65px;
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    color: #0081b3;
    padding-top: 20px;
    padding-left: 4%;
    background: white;
}

.signup {
    height: 728px;
    margin-left: 23%;
    margin-top: 7%;
    margin-bottom: 7%;
}

fieldset {
    width: 500px;
    height: 100%;
    background-color: #eeeeee;
}
.box {
    width: 500px;
    height: 45px;
    margin-bottom: 35px;
    background-color: #cdcdcd;
    text-align: center;
    padding-top: 2%;
    font-size: 30px;
}

.textbox {
    font-size: 18px;
    width: 400px;
    height: 35px;
    padding-left: 10px;
    margin:0px 40px 25px 40px;
}
.box1 {
    width: 430px;
    height: 45px;
    padding-left: 0px;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 17%;
    margin-left: 34%;
    font-size: 30px;
}

.textbox1 {
    border-style: none;
    width: 394px;
    height: 43px;
    padding-left: 10px;
    margin-top: 10.48%;
}
#logo {
    width: 272px;
    margin-top: 5.4%;
    margin-left: 0%;
    margin-right: 0;
}
#address{
    margin-top: 30.1%;
    height: 90px;
}
#web-name {
    width: 220px;
}
.ID {
    background-color:#dedede;
    height: 30px;
    padding: 9px 44px 9.5px 12px;
    display: inline;
    margin-left: -8.6%;
    font-size: 20px;
}
.browse {
    background-color: #b3b3b3;
    border-style: none;
    width: 134px;
    height: 45px;
    z-index: 10;
    margin-left: -1.4%;
}

.button {
    background-color: #f36523;
    width: 204px;
    height: 52px;
    font-size: 20px;
    color: white;
    border-style: none;
}

#start_button {
    margin-top: 4%;
    margin-left: 28%;
    width: 216px;
    height: 50px;
}

.foot {
    width: 100%;
    height: 140px;
    bottom: 0;
    background-color: #eaeaea;
}
#tabs {
    font-size: 22px;
}
.foot ul {
    margin-top: 20px; 
    margin-left: 11%;
}

.foot li {
    padding:0px 12px 3px;
    display: inline;
}

#contacts {
    width: 300px;
    float: left;
    height: 40px;
    margin-top: 3%;
    
}
#contacts ul {
    display: inline;
}




